{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Display</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body onload="update(1); update(2); update(3);">
    <div class="container">
      <div class="row pt-5">
        <!-- 1 -->
        <div class="col-sm">

          <!-- chart -->
          <div id="myChart1"></div>

          <!-- option -->
          <div class="row">
            <div class="col-sm-3">
              <label for="data-1">Choose data</label>
            </div>
            <div class="col-sm-9">
              <select name="data-1" id="data-1">
                <option value="Wind">wind</option>
                <option value="Rotor">rotor</option>
                <option value="Leistung">power</option>
                <option value="Strom-">current</option>
                <option value="Spann">voltage</option>
                <option value="Gen1-">generator-temperature</option>
                <option value="Außen">ambience-temperature</option>
              </select>
            </div>
            
            
          </div>

          <!-- start date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="start-date-1">start date</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="start-date-1" value="2016-01-01T00:00" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
            
          </div>
        

          <!-- end date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="end-date-1">end date:</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="end-date-1" value="2016-01-01T23:59" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
          </div>

          <!-- submit -->
          <div class="row px-3">
            <input onclick="update(1)" type="button" value="submit">
          </div>
        </div>

        <!-- 2 -->
        <div class="col-sm">
          
          <!-- chart -->
          <div id="myChart2"></div>

          <!-- option -->
          <div class="row">
            <div class="col-sm-3">
              <label for="data-2">Choose data</label>
            </div>
            <div class="col-sm-9">
              <select name="data-2" id="data-2">
                <option value="Wind">wind</option>
                <option value="Rotor">rotor</option>
                <option value="Leistung">power</option>
                <option value="Strom-">current</option>
                <option value="Spann">voltage</option>
                <option value="Gen1-">generator-temperature</option>
                <option value="Außen">ambience-temperature</option>
              </select>
            </div>
            
            
          </div>

          <!-- start date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="start-date-2">start date</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="start-date-2" value="2016-01-01T00:00" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
            
          </div>

          <!-- end date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="end-date-2">end date:</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="end-date-2" value="2016-01-01T23:59" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
          </div>

          <!-- submit -->
          <div class="row px-3">
            <input onclick="update(2)" type="button" value="submit">
          </div>
        </div>
      </div>

      <div class="row pt-5 pb-5">
        <!-- 3 -->
        <div class="col-sm-6">

          <!-- chart -->
          <div id="myChart3"></div>

          <div class="row">
            <div class="col-sm-3">
              <label for="data-3">Choose data</label>
            </div>
            <div class="col-sm-9">
              <select name="data-3" id="data-3" disabled>
                <option value="Wind-Power" selected>wind vs Power</option>
                <option value="Wind">wind</option>
                <option value="Rotor">rotor</option>
                <option value="Leistung">power</option>
                <option value="Strom-">current</option>
                <option value="Spann">voltage</option>
                <option value="Gen1-">generator-temperature</option>
                <option value="Außen">ambience-temperature</option>
              </select>
            </div>
          </div>

          <!-- start date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="start-date-3">start date</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="start-date-3" value="2016-01-01T00:00" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
            
          </div>
        

          <!-- end date -->
          <div class="row">
            <div class="col-sm-3">
              <label for="end-date-3">end date:</label>
            </div>
            <div class="col-sm-9">
              <input type="datetime-local" id="end-date-3" value="2016-01-01T23:59" min="2016-01-01T00:00" max="2016-03-31T23:59">
            </div>
          </div>

          <!-- submit -->
          <div class="row px-3">
            <input onclick="update(3)" type="button" value="submit">
          </div>
        </div>
      </div>
    </div>    
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	<script src="{% static 'data_display/index.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>